# Web framework for building server
Flask~=1.1
# Flask plugin for using SQLAlchemy in server routes
Flask-SQLAlchemy~=2.4
# Allows SQLAlchemy to connect with PostgreSQL databases
psycopg2-binary==2.8.6
requests==2.25.1
pdfkit==0.6.1
Jinja2==2.11.3
WeasyPrint==52.5

