<!doctype html>
<html>
  <head>
    <!-- Remove console favicon error -->
    <link rel="icon" href="data:,">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/styles.css" type="text/css">
    <title>
      Builders Risk App
    </title>
  </head>
  <body>
    <h1>Builders Risk</h1>
    <form method="POST" class=form>
        <!-- Email input -->
        <div class="form-group">
            <label for="email"><b>Email address</b></label>
            <input type="email" name= "email" class="form-control" id="email" required>
        </div>

        <!-- Company name input -->
        <div class="form-group">
            <label for="company_name"><b>Company Name</b></label>
            <input type="text" name= "company_name" class="form-control" id="company_name" required>
        </div>

        <!-- Zip code input -->
        <div class="form-group">
            <label for="zip_code"><b>Zip Code</b></label>
            <input type="text" name="zip_code" pattern="\d{5}" class="form-control" id="zip_code" oninvalid="this.setCustomValidity('Please enter a valid 5 digit zip code.')" oninput="this.setCustomValidity('')" required>
        </div>

        <!-- Project description input -->
        <div class="form-group">
            <label for="project_description"><b>Project Description</b></label>
            <textarea class="form-control" name= "project_description" id="project_description" rows="4"></textarea>
        </div>

        <!-- Building type radio input -->
        <div class="form-group">
            <label for="building_type"><b>Building Type</b></label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="building_type" value="Apartment" checked>
                <label class="form-check-label">
                  Apartment
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="building_type" value="Warehouse" >
                <label class="form-check-label">
                  Warehouse
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="building_type" value="Single family home" >
                <label class="form-check-label">
                  Single Family Home
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="building_type" value="Hotel/motel" >
                <label class="form-check-label">
                  Hotel/Motel
                </label>
            </div>
        </div>
        <p><p>
        <button id="builders_risk_submit" class="btn btn-warning" formaction="/builders_risk_form">Generate PDF</button>
        <!-- Coverage needed checkbox input -->
        <!-- <div class="form-group">
            <label for="building_type">Coverage Needed</label>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="building_materials" id="building_materials">
                <label class="form-check-label">
                  Building Materials
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="foundation" id="foundation">
                <label class="form-check-label">
                  Foundation
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="temporary_structures" id="temporary_structures">
                <label class="form-check-label">
                  Temporary Structures
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="checkbox" value="weather_damage" id="weather_damage">
                <label class="form-check-label">
                  Weather Damage
                </label>
            </div>
            <button type="submit" class="btn btn-primary">Generate PDF</button>
        </div> -->
    </form>
  </body>
</html>