<!doctype html>
<html>
  <head>
    <!-- Remove console favicon error -->
    <link rel="icon" href="data:,">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/styles.css" type="text/css">
    <title>
      Commercial General Liability App
    </title>
  </head>
  <body>
    <h1>Commercial General Liability</h1>
    <form method="POST" class="form">
        <!-- Email input -->
        <div class="form-group">
            <label for="email"><b>Email address</b></label>
            <input type="email" name= "email" class="form-control" id="email" required>
        </div>

        <!-- Company name input -->
        <div class="form-group">
            <label for="company_name"><b>Company Name</b></label>
            <input type="text" name= "company_name" class="form-control" id="company_name" required>
        </div>

        <!-- Zip code input -->
        <div class="form-group">
            <label for="zip_code"><b>Zip Code</b></label>
            <input type="text" name="zip_code" pattern="\d{5}" class="form-control" id="zip_code" oninvalid="this.setCustomValidity('Please enter a valid 5 digit zip code.')" oninput="this.setCustomValidity('')" required>
        </div>

        <!-- Project description input -->
        <div class="form-group">
            <label for="project_description"><b>Project Description</b></label>
            <textarea class="form-control" name= "project_description" id="project_description" rows="4"></textarea>
        </div>

        <!-- Building type radio input -->
        <div class="form-group">
            <label for="business_type"><b>Business Type</b></label>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="business_type" value="Residential" checked>
                <label class="form-check-label">
                  Residential
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="business_type" value="General contractor" >
                <label class="form-check-label">
                  General Contractor
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="business_type" value="Developer" >
                <label class="form-check-label">
                  Developer
                </label>
            </div>
            <div class="form-check">
                <input class="form-check-input" type="radio" name="business_type" value="Speciality contractor" >
                <label class="form-check-label">
                  Speciality Contractor
                </label>
            </div>
        </div>
        <p><p>
        <button id="builders_risk_submit" class="btn btn-warning" formaction="/general_liability_form">Generate PDF</button>
    </form>
  </body>
</html>