<!doctype html>
<html>
  <head>
    <!-- Remove console favicon error -->
    <link rel="icon" href="data:,">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>
      Insurance App
    </title>
  </head>
  <body>
    <h1>Welcome!</h1>
    <h2>Which form are you looking for?</h2>
    <ul>
        <li><a href="/builders_risk">Builders Risk</a></li>
        <li><a href="/commercial_general_liability">Commercial General Liability</a></li>
    </ul>
  </body>
</html>