<!doctype html>
<html>
  <head>
    <!-- Remove console favicon error -->
    <link rel="icon" href="data:,">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/styles.css" type="text/css">
    <title>
      Insurance App
    </title>
  </head>
  <body>
    <h1>Construction Insurance Application</h1><p>
    <h3>Which insurance form are you looking for?</h3>
    <a class="btn btn-warning btn-lg" href="/builders_risk" role="button">Builders Risk</a>
    <a class="btn btn-warning btn-lg" href="/commercial_general_liability" role="button">Commercial General Liability</a>
  </body>
</html>